.navbar-brand{
    margin-left: 40px;
}

#main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width:100%;
}
.card{
    overflow: hidden;
}
.card:hover .readMore{
    top:0%;
    transition: ease-in-out 1s;
}
.readMore{
    background-color: rgba(0, 0, 0, 0.368);
    position: absolute;
    top:-100%;
    left:0px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}